name: PlatformIO CI

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        example:
          - "examples/knx-usb"
          - "examples/knx-demo"
          - "examples/knx-demo-coupler"
          - "examples/knx-demo-smal-go"
    steps:
    - uses: actions/checkout@v4
    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: "3.9"
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install platformio
        pio pkg install -g -l "."
    - name: Build examples
      run: pio run -d ${{ matrix.example }}
